# Little Lemon analysis and sales report
You have gained all the necessary skills and knowledge required to interact with the back-end MySQL database from your Python-based front-end application via the standard database client MySQL Connector/Python. 

Follow the instructions in the exercises given below and create a Jupyter notebook to produce a Little Lemon analysis and sales report. You need to submit this report for your peers to review.

### Task 1:
Complete the following steps to establish a connection pool:

- To create a connection pool, import MySQLConnectionPool class from MySQL Connector/Python.

- To find the information on the error, import the Error class from MySQL Connector/Python.

- Define your database configurations as a Python dictionary object called dbconfig.

- Establish a connection pool [pool_name = pool_b] with two connections. 

- Implement error handling using a try-except block in case the connection fails.

In [8]:
dbconfig={"database":"little_lemon_db", "user":"root", "password":""}

In [9]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error


try: 
    pool_a = MySQLConnectionPool(pool_name="pool_a", pool_size=3, **dbconfig)
    conn = pool_a.get_connection()
    cursor = conn.cursor()
    print("Connection pool is created with pool size", pool_a.pool_size)
except Error as e:
    print("Unable to create connection pool:", e)

Connection pool is created with pool size 3

### Task 2:
Three guests are trying to book dinner slots simultaneously. Get the connections from pool_b and insert the following data in the Bookings table:


TIP: You need to add a connection to connect the third guest.

Guest 1:

- Table Number: 8

- First Name: Anees

- Last Name: Java

- Booking Time: 18:00

- EmployeeID: 6


Guest 2:

- Table Number: 5

- First Name: Bald

- Last Name: Vin

- Booking Time: 19:00

- EmployeeID: 6


Guest 3:

- Table Number: 12

- First Name: Jay

- Last Name: Kon

- Booking Time: 19:30 

- EmployeeID: 6


Return all the connections back to the pool. 


TIP: The pool size is two. However, you have three connected users. You can only return two connections. Returning a third connection will raise a PoolError. Use try-except to print the error message.

In [10]:
conn1 = pool_a.get_connection()
cur1 = conn1.cursor()
insert_query_1 = """
    INSERT INTO Bookings (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
    VALUES (%s, %s, %s, %s, %s)
"""
insert_data_1 = (8, "Anees", "Java", "18:00:00", 6)
cur1.execute(insert_query_1, insert_data_1)
conn1.commit()
conn1.close()

conn2 = pool_a.get_connection()
cur2 = conn2.cursor()
insert_query_2 = """
    INSERT INTO Bookings (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
    VALUES (%s, %s, %s, %s, %s)
"""
insert_data_2 = (5, "Bald", "Vin", "19:00:00", 6)
cur2.execute(insert_query_2, insert_data_2)
conn2.commit()
conn2.close()

conn3 = pool_a.get_connection()
cur3 = conn3.cursor()
insert_query_3 = """
    INSERT INTO Bookings (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
    VALUES (%s, %s, %s, %s, %s)
"""
insert_data_3 = (12, "Jay", "Kon", "19:30:00", 6)
cur3.execute(insert_query_3, insert_data_3)
conn3.commit()

### Task 3:
Create a report containing the following information:

- The name and EmployeeID of the Little Lemon manager.

- The name and role of the employee who receives the highest salary.

- The number of guests booked between 18:00 and 20:00.

- The full name and BookingID of all guests waiting to be seated with the receptionist in sorted order with respect to their BookingSlot.

In [14]:
import mysql.connector as connector

try:
    conn = connector.connect(user="root",password="")
    print("connected to mysql")
except Error as e:
    print("Unable to connecting MySQL:", e)

cursor = conn.cursor()
print("successfully established cursor")

connected to mysql
successfully established cursor

In [16]:
cursor.execute("USE little_lemon_db")
print("Database little_lemon_db selected")

Database little_lemon_db selected

In [17]:
manager_query = """
    SELECT Name AS ManagerName, EmployeeID
    FROM Employees
    WHERE Role = 'Manager';
"""
cursor.execute(manager_query)
manager_data = cursor.fetchall()
print(manager_data)

[('Mario Gollini', 1)]

In [18]:
highest_salary_query = """
    SELECT Name, Role, Annual_Salary
    FROM employees
    ORDER BY Annual_Salary DESC
    LIMIT 1;
"""
cursor.execute(highest_salary_query)
highest_salary_data = cursor.fetchone()
print(highest_salary_data)

('Mario Gollini', 'Manager', '$70,000')

In [19]:
bookings_count_query = """
    SELECT COUNT(*)
    FROM Bookings
    WHERE BookingSlot BETWEEN '18:00:00' AND '20:00:00';
"""
cursor.execute(bookings_count_query)
bookings_count_data = cursor.fetchone()
# bookings_count = bookings_count_data[0]
print(bookings_count_data)

(7,)

In [20]:
waiting_guests_query = """
    SELECT CONCAT(GuestFirstName, ' ', GuestLastName) AS GuestName, BookingID
    FROM Bookings  
    ORDER BY BookingSlot ASC;
"""
cursor.execute(waiting_guests_query)
waiting_guests_data = cursor.fetchall()

print(waiting_guests_data)

[('Vanessa McCarthy', 3), ('Marcos Romero', 4), ('Anees Java', 7), ('Hiroki Yamane', 5), ('Anna Iversen', 1), ('Joakim Iversen', 2), ('Bald Vin', 8), ('Jay Kon', 9), ('Diana Pinto', 6)]

In [21]:
print("The name and EmployeeID of the Little Lemon manager is", manager_data[0][0], "and", manager_data[0][1])


print("The name and role of the employee who receives the highest salary is", highest_salary_data[0], "and", highest_salary_data[1]) 

print("The number of guests booked between 18:00 and 20:00 is", bookings_count_data[0])

print("The full name and BookingID of all guests waiting to be seated with the receptionist in sorted order with respect to their BookingSlot are as follows")

for row in waiting_guests_data:
    print( row[0] + "| Booking ID:", row[1])

The name and EmployeeID of the Little Lemon manager is Mario Gollini and 1
The name and role of the employee who receives the highest salary is Mario Gollini and Manager
The number of guests booked between 18:00 and 20:00 is 7
The full name and BookingID of all guests waiting to be seated with the receptionist in sorted order with respect to their BookingSlot are as follows
Vanessa McCarthy| Booking ID: 3
Marcos Romero| Booking ID: 4
Anees Java| Booking ID: 7
Hiroki Yamane| Booking ID: 5
Anna Iversen| Booking ID: 1
Joakim Iversen| Booking ID: 2
Bald Vin| Booking ID: 8
Jay Kon| Booking ID: 9
Diana Pinto| Booking ID: 6

### Task 4:
Create a stored procedure named BasicSalesReport that returns the following statistics: 

- Total sales

- Average sale

- Minimum bill paid

- Maximum bill paid

In [25]:
cursor.execute("DROP PROCEDURE IF EXISTS BasicSalesReport;")

create_procedure_query = """
    CREATE PROCEDURE BasicSalesReport()
    BEGIN
        SELECT SUM(BillAmount) AS TotalSales,
               AVG(BillAmount) AS AverageSale,
               MIN(BillAmount) AS MinimumBill,
               MAX(BillAmount) AS MaximumBill
        FROM Orders;
    END;
"""

cursor.execute(create_procedure_query)

cursor.callproc("BasicSalesReport")

results = next(cursor.stored_results())

sales_data = results.fetchall()

print(sales_data)

[(Decimal('243'), Decimal('48.6000'), 37, 86)]

In [31]:
print("-" * 25)
print("Basic Sales Report")
print("-" * 25)
print(f"Total Sales:",  sales_data[0][0])
print(f"Average Sale:", sales_data[0][1])
print(f"Minimum Bill:", sales_data[0][2])
print(f"Maximum Bill:", sales_data[0][3])

-------------------------
Basic Sales Report
-------------------------
Total Sales: 243
Average Sale: 48.6000
Minimum Bill: 37
Maximum Bill: 86

### Task 5:
Little Lemon needs to display the next three upcoming bookings from the Bookings table on the kitchen screen to notify their chefs which orders are due next. To complete this task, carry out the following steps:

- Get a connection from the pool.

- Create a buffered cursor.

- Combine the data from the Bookings and the Employee tables. Sort the retrieved records in ascending order. Then display the information of the first three guests. 

- Returned the connection back to the pool.


The output should be as follows:

[BookingSlot]

[Guest_name]

[Assigned to: Employee Name [Employee Role]]

In [36]:

query = """
    SELECT b.BookingSlot, CONCAT(b.GuestFirstName, ' ', b.GuestLastName) AS GuestName,
           e.Name AS EmployeeName, e.Role AS EmployeeRole
    FROM Bookings b
    INNER JOIN Employees e ON b.EmployeeID = e.EmployeeID
    ORDER BY b.BookingSlot ASC
    LIMIT 3;
"""
cursor.execute(query)

results = cursor.fetchall()

print(results)

[(datetime.timedelta(seconds=54000), 'Vanessa McCarthy', 'Giorgos Dioudis', 'Head Chef'), (datetime.timedelta(seconds=63000), 'Marcos Romero', 'Fatma Kaya', 'Assistant Chef'), (datetime.timedelta(seconds=64800), 'Anees Java', 'John Millar', 'Receptionist')]

In [37]:
print("-" * 50)
print("Upcoming Bookings")
print("-" * 50)
for row in results:
    print(f"BookingSlot: {row[0]}")
    print(f"Guest Name: {row[1]}")
    print(f"Assigned to: {row[2]} [{row[3]}]")
    print("-" * 50)

--------------------------------------------------
Upcoming Bookings
--------------------------------------------------
BookingSlot: 15:00:00
Guest Name: Vanessa McCarthy
Assigned to: Giorgos Dioudis [Head Chef]
-------------------------
BookingSlot: 17:30:00
Guest Name: Marcos Romero
Assigned to: Fatma Kaya [Assistant Chef]
-------------------------
BookingSlot: 18:00:00
Guest Name: Anees Java
Assigned to: John Millar [Receptionist]
-------------------------

In [38]:
cursor.close()
conn.close()